{% extends '::base.html.twig' %}

{% block contenu %}
<body>
<div class="wrapper white-bg">

    <div class="elements pricing-plan ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-9">
                    <div class="pricing-table text-center">
                        <div class="pricing-title">
                            <h3>Client</h3>
                        </div>
                        <div class="pricing-desc">
                            <h2><span class="currency">$</span>0<span class="date">/free</span></h2>
                            <ul>
                                <li>Nail cutting & styling</li>
                                <li>Hot Ayurvedic spa</li>
                                <li>Hot oil massage</li>
                                <li>Body wraps</li>
                            </ul>
                            <div class="book-now">
                                <a href="{{ path('gu_inscri') }}">S'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-9">
                    <div class="pricing-table text-center">
                        <div class="pricing-title">
                            <h3>Vendeur</h3>
                        </div>
                        <div class="pricing-desc">
                            <h2><span class="currency">%</span>5<span class="date">/produit vendu</span></h2>
                            <ul>
                                <li>Nail cutting & styling</li>
                                <li>Hot Ayurvedic spa</li>
                                <li>Hot oil massage</li>
                                <li>Body wraps</li>
                            </ul>
                            <div class="book-now">
                                <a href="{{ path('gu_inscri') }}">S'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-9">
                    <div class="pricing-table text-center">
                        <div class="pricing-title">
                            <h3>Nutritionniste</h3>
                        </div>
                        <div class="pricing-desc">
                            <h2><span class="currency">$</span>0<span class="date">/free</span></h2>
                            <ul>
                                <li>Nail cutting & styling</li>
                                <li>Hot Ayurvedic spa</li>
                                <li>Hot oil massage</li>
                                <li>Body wraps</li>
                            </ul>
                            <div class="book-now">
                                <a href="{{ path('gu_inscri') }}">S'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm col-xs-9">
                    <div class="pricing-table text-center">
                        <div class="pricing-title">
                            <h3>Etablissement</h3>
                        </div>
                        <div class="pricing-desc">
                            <h2><span class="currency">$</span>50<span class="date">/month</span></h2>
                            <ul>
                                <li>Nail cutting & styling</li>
                                <li>Hot Ayurvedic spa</li>
                                <li>Hot oil massage</li>
                                <li>Body wraps</li>
                            </ul>
                            <div class="book-now">
                                <a href="{{ path('gu_inscri') }}">S'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenu %}